{% extends 'email/base.html.twig' %}

{% block body %}

<h1> Bonjour </h1>

<p> Nous vous confirmons l'envoi de votre demande de contact ayant pour objet {{ subject }} </p>

<p> Nous nous efforcons de répondre dans les plus brefs délais .</p>


<p> Cordialement </p>

<p> L'équipe 0'déchet </p>


{% endblock %}