{% extends 'email/base.html.twig' %}

{% block body %}

<main>
    <p>Bonjour {{ username }},</p><br>

    <p>Vous venez de vous inscrire sur le site 0'Déchet et nous vous en remercions.</p>

    <p>Vous pouvez dès à présent ajouter des recettes sur notre site, laisser des commentaires, noter des recettes et en ajouter en favoris.</p>

    <p>Bonne navigation!</p><br>

    <p>Cordialement,</p>

    <p><strong>L'équipe 0'déchet</strong></p>
</main>

{% endblock %}