{% extends 'email/base.html.twig' %}

{% block body %}

<h1>Bienvenue {{ username }} parmis nos membres 0'dechet</h1>

<p> Bonjour {{ username }} vous venez de vous inscrire sur le site 0'dechet et nous vous en remercions. </p>

<p> Vous pouvez dès à présent ajouter des recettes sur notre site, laisser des commentaire, noter des recettes et en ajouter en favoris. </p>

<p> Bonne Navigation </p>

<p> Cordialement </p>

<p> L'équipe 0'déchet </p>


{% endblock %}