{% extends 'email/base.html.twig' %}

{% block body %}

<h1>Aurevoir {{ username }}</h1>


<p> Nous vous confirmons la suppression de votre profil et nous le regrettons, n'hésitez pas à nous en donner la raison par email à l'adresse equipe0dechet@gmail.com  si vous le souhaitez </p>

<p> Bonne Continuation </p>

<p> Cordialement </p>

<p> L'équipe 0'déchet </p>


{% endblock %}

