{% extends 'email/base.html.twig' %}

{% block body %}

<main>
    <p>Bonjour {{ username }},</p><br>

    <p>La modification de votre profil a bien été prise en compte.</p>

    <p>Bonne navigation!</p><br>

    <p>Cordialement,</p>

    <p><strong>L'équipe 0'déchet</strong></p>
</main>



{% endblock %}