{% extends 'email/base.html.twig' %}

{% block body %}

<h1>Bonjour {{ username }}</h1>


<p> Nous vous confirmons la modification de votre profil </p>

<p> Bonne Navigation </p>

<p> Cordialement </p>

<p> L'équipe 0'déchet </p>


{% endblock %}