<p><strong>Préambule </strong></p>

<p>Les présentes conditions générales d'utilisation sont&nbsp;conclues entre :</p>

<p>- le gérant du site internet, ci-après désigné «&nbsp;l’Éditeur&nbsp;»,</p>

<p>- toute personne souhaitant accéder au site et à ses services, ci-après appelé «&nbsp;l’Utilisateur&nbsp;».</p>

<p>&nbsp;</p>

<p><strong>Article 1 - Principes</strong></p>

<p>Les présentes conditions générales d'utilisation ont pour objet l'encadrement juridique de l’utilisation du site&nbsp;0'Déchet&nbsp;et de ses services.</p>

<p>Le site Internet https://0dechet.ddns.net/ est un service de : </p>

<ul>
	<li>0'Déchet située en France</li></br>
	<li><em>adresse URL du site :</em> https://0dechet.ddns.net/</li></br>
	<li><em>e-mail :</em> equipe0dechet@gmail.com</li></br>
</ul>

<p>Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.</p>

<p>&nbsp;</p>

<p><strong>Article 2&nbsp;- Evolution et durée des CGU</strong></p>

<p>Les présentes conditions générales d'utilisation sont conclues pour une durée indéterminée.&nbsp;Le contrat produit ses effets à l'égard de l'Utilisateur à compter du début de l’utilisation du service.</p>

<p>Le site 0'Déchet&nbsp;se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.</p>

<p>&nbsp;</p>

<p><strong>Article 3 - Accès au site</strong></p>

<p>Tout Utilisateur ayant accès à&nbsp;internet peut accéder gratuitement et depuis n’importe où au site 0'Déchet. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.</p>

<p>Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.</p>

<p>L'Utilisateur du site&nbsp;a accès aux services suivants :&nbsp;<span class="boiler-field empty">.</p>

<!----><div rl-text="content4">
<p>Le site comprend un espace membre gratuit réservé aux utilisateurs inscrits. Ces utilisateurs pourront y accéder en utilisant leurs identifiants de connexion.&nbsp;</p>

<p>Les services réservés aux membres sont les suivants :&nbsp;ajout de recettes, ajout de commentaires, mise en favoris de recettes.</p>
</div>

<p>&nbsp;</p>

<p><strong>Article 4&nbsp; - Responsabilités&nbsp;</strong></p>

<p style="text-align: start;">La responsabilité de l'Éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement, empêchant l'accès au site ou à une de ses fonctionnalités.</p>

<p style="text-align: start;">Le matériel de connexion au site utilisée&nbsp;est sous l'entière responsabilité de l'Utilisateur qui doit prendre toutes les mesures appropriées pour protéger le&nbsp;matériel et les&nbsp;données notamment d'attaques virales par Internet. L'utilisateur est&nbsp;par ailleurs le seul responsable des sites et données qu'il consulte.</p>

<p style="text-align: start;">&nbsp;</p>

<p style="text-align: start;">L'Éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à l'encontre de l'Utilisateur&nbsp;:</p>

<div style="text-align: start;">
<p>-&nbsp;&nbsp;du fait de l'usage du site ou de tout service accessible&nbsp;<i>via</i>&nbsp;Internet&nbsp;;</p>

<p>-&nbsp;&nbsp;du fait du non-respect par l'Utilisateur&nbsp;des présentes conditions générales.</p>
</div>

<p style="text-align: start;">&nbsp;</p>

<p style="text-align: start;">L'Éditeur n'est pas responsable des dommages causés à l'Utilisateur, à des tiers et/ou à l'équipement de l'Utilisateur du fait de sa&nbsp;connexion ou de son&nbsp;utilisation du site et l'Utilisateur&nbsp;renonce&nbsp;à toute action contre l'Éditeur&nbsp;de ce fait.</p>

<p style="text-align: start;">Si l'Éditeur venait à faire l'objet d'une procédure amiable ou judiciaire à raison de &nbsp;l'utilisation du site par&nbsp;l'Utilisateur, il pourra retourner contre lui&nbsp;pour obtenir indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.</p>

<!----><div rl-text="content1">
<p style="text-align: start;">&nbsp;</p>

<p style="text-align: start;">Il est permis à l'Utilisateur&nbsp;de publier sur le site&nbsp;0'Déchet&nbsp;:</p>

<!----><div rl-text="content4">
<p>- des commentaires ;</p>
</div>

<!----><div rl-text="content5">
<p>- des textes ;</p>
</div>

<!----><div rl-text="content6">
<p>- des photos ;</p>
</div>

<!----><div rl-text="content8">
<p>- des vidéos ;</p>
</div>

<p><!----></p>
</div>

<!----><div rl-text="content12">
<p style="text-align: start;">&nbsp;L'Utilisateur&nbsp;s’engage à tenir des propos respectueux des autres et de la loi et accepte que ces publications soient modérées ou refusées par l’Éditeur, sans obligation de justification. </p>

<p>En publiant sur le site, l’Utilisateur cède à la société éditrice le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé.</p>

<p>L’Éditeur s'engage toutefois à citer le membre en cas d’utilisation de&nbsp; sa publication.</p>
</div>

<p style="text-align: start;">&nbsp;</p>

<p style="text-align: start;"><strong>Article 5&nbsp; - Propriété intellectuelle</strong></p>

<p style="text-align: start;">Tous les documents techniques, produits, photographies, textes, logos, dessins, vidéos, etc.,&nbsp;sont soumis à des droits d'auteur et sont protégés par le Code de la propriété intellectuelle.&nbsp;Lorsqu'ils sont&nbsp;remis à nos clients, ils demeurent la propriété exclusive de&nbsp;0'Déchet, seul titulaire des droits de propriété intellectuelle sur ces documents, qui doivent lui être rendus à sa demande.</p>

<p style="text-align: start;">Nos clients s'engagent à ne faire aucun usage de ces documents, susceptible de porter atteinte aux droits de propriété industrielle ou intellectuelle du fournisseur et s'engagent à ne les divulguer à aucun tiers, en dehors d'une autorisation expresse et préalable donnée par l'Editeur.</p>

<p>&nbsp;</p>

<p><strong>Article 6&nbsp; - Liens hypertextes</strong></p>

<p style="text-align: start;">La mise en place par l'Utilisateur&nbsp;de tous liens hypertextes vers tout ou partie du site est strictement interdite, sauf autorisation préalable et écrite de l'Éditeur, sollicitée par courriel à l'adresse suivante&nbsp;: equipe0dechet@gmail.com.</p>

<p style="text-align: start;">L'Éditeur est libre de refuser cette autorisation sans avoir à justifier de quelque manière que ce soit sa décision. Dans le cas où l'Éditeur accorderait son autorisation, celle-ci n'est dans tous les cas que temporaire et pourra être retirée à tout moment, sans obligation de justification à la charge de l'Éditeur.</p>

<p style="text-align: start;">Dans tous les cas, tout lien devra être retiré sur simple demande de l'Éditeur.</p>

<p style="text-align: start;">Toute information accessible&nbsp;<i>via</i>&nbsp;un lien vers d'autres sites n'est pas sous le contrôle de l'Éditeur qui décline toute responsabilité quant à leur contenu.</p>

<p>&nbsp;</p>

<p><strong>Article 7&nbsp;- Protection des données personnelles</strong></p>

<p><em><u><strong>Données collectées&nbsp;</strong></u></em></p>

<p><em>Les données à caractère personnel qui sont collectées sur ce site&nbsp;sont les suivantes&nbsp;:</em></p>

<p><b style="text-align: left;">- ouverture de compte :</b><b style="text-align: left;"> </b>lors de la création du compte de l'utilisateur :&nbsp;<!----><!----><!----><span rl-text="content10">&nbsp;adresse électronique ;<!----><!---->&nbsp;<!---->photo<!----><span rl-text="content1">;</p>

<p><b style="text-align: left;">- connexion : </b>lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment, ses données de connexion, d'utilisation;</p>

<p><b style="text-align: left;">- profil :</b><b style="text-align: left;"> </b>l'utilisation des prestations prévues sur le site web&nbsp;permet de renseigner un profil, pouvant comprendre un email ;</p>

<p><b style="text-align: left;">- communication : </b>lorsque le site web&nbsp;est utilisé&nbsp;pour communiquer avec d'autres membres, les données concernant les communications de l'utilisateur font l'objet d'une conservation temporaire ;</p>

<p><b style="text-align: left;">- cookies :</b>&nbsp;les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la possibilité de désactiver les cookies à partir des paramètres de son navigateur.</p>

<p>&nbsp;</p>

<p><em><u><strong>Utilisation des données personnelles&nbsp;</strong></u></em></p>

<p>Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des services du site web, leur amélioration et le maintien d'un environnement sécurisé. Plus précisément, les utilisations sont les suivantes&nbsp;:</p>

<div style="text-align: left;">
<p>-&nbsp;&nbsp;accès et utilisation du site web&nbsp;par l'utilisateur&nbsp;;</p>

<p>-&nbsp;&nbsp;gestion du fonctionnement et optimisation du site web&nbsp;;</p>

<p>-&nbsp;&nbsp;vérification, identification et authentification des données transmises par l'utilisateur&nbsp;;</p>

<p>-&nbsp;&nbsp;proposition à l'utilisateur de la possibilité de communiquer avec d'autres utilisateurs du site web&nbsp;;</p>

<p>-&nbsp;&nbsp;mise en oeuvre d'une assistance utilisateurs&nbsp;;</p>

<p>-&nbsp;&nbsp;personnalisation des services en affichant des publicités en fonction de l'historique de navigation de l'utilisateur, selon ses préférences&nbsp;;</p>

<p>-&nbsp;&nbsp;prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et gestion des incidents de sécurité&nbsp;;</p>

<p>-&nbsp;&nbsp;gestion des éventuels litiges avec les utilisateurs&nbsp;;</p>

<p>-&nbsp;&nbsp;envoi d'informations commerciales et publicitaires, en fonction des préférences de l'utilisateur.<br style="text-align: left;">
<br style="text-align: left;">

</div>

<p><em><u><strong>Partage des données personnelles avec des tiers&nbsp;</strong></u></em></p>

<p>Les données personnelles peuvent être partagées avec des sociétés tierces, dans les cas suivants&nbsp;:</p>

<div style="text-align: left;">

<p>-&nbsp;&nbsp;lorsque l'Utilisateur publie, dans les zones de commentaires libres du site web, des informations accessibles au public&nbsp;;</p>

<p>-&nbsp;&nbsp;lorsque l'Utilisateur autorise le site web d'un tiers à accéder à ses données&nbsp;;</p>

<p>-&nbsp;&nbsp;lorsque le site web&nbsp;recourt aux services de prestataires pour fournir l'assistance utilisateurs, la publicité et les services de paiement. Ces prestataires disposent d'un accès limité aux données de l'utilisateur, dans le cadre de l'exécution de ces prestations, et ont une obligation contractuelle de les utiliser en conformité avec les dispositions de la réglementation applicable en matière protection des données à caractère personnel&nbsp;;</p>

<p>-&nbsp;&nbsp;si la loi l'exige, le site web&nbsp;peut effectuer la transmission de données pour donner suite aux réclamations présentées contre le site web&nbsp;et se conformer aux procédures administratives et judiciaires&nbsp;;</p>

<p>-&nbsp;&nbsp;si le site web&nbsp;est impliquée dans une opération de fusion, acquisition, cession d'actifs ou procédure de redressement judiciaire, elle pourra être amenée à céder ou partager tout ou partie de ses actifs, y compris les données à caractère personnel. Dans ce cas, les utilisateurs seraient informés, avant que les données à caractère personnel ne soient transférées à une tierce partie.<br style="text-align: left;">
<br style="text-align: left;">

<p><em><u><strong>Sécurité et confidentialité&nbsp;</strong></u></em></p>

<p>Le site web&nbsp;met en oeuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non autorisés. Toutefois, il est à signaler qu'internet n'est pas un environnement complètement sécurisé et le site web&nbsp;ne peut pas garantir la sécurité de la transmission ou du stockage des informations sur internet.</p>
</div>

<p><em><u><strong>Mise en oeuvre des droits des utilisateurs&nbsp;</strong></u></em></p>

<p>En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des droits suivants, qu'ils peuvent exercer en faisant leur demande à l'adresse suivante :&nbsp;equipe0dechet@gmail.com.</p>

<ul>
	<li class="cgu-li">le droit d’accès&nbsp;: ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les concernant.&nbsp;Dans ce cas, avant la mise en œuvre de ce droit, le site web&nbsp;peut demander une preuve de l'identité de l'utilisateur afin d'en vérifier l'exactitude. </li>
	<li class="cgu-li">le droit de rectification&nbsp;: si les données à caractère personnel détenues par le site web&nbsp;sont inexactes, ils peuvent demander la mise à jour des informations.</li>
	<li class="cgu-li">le droit de suppression des données&nbsp;: les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois applicables en matière de protection des données. </li>
	<li class="cgu-li">le droit à la limitation du traitement&nbsp;: les utilisateurs peuvent de demander au site web&nbsp;de limiter le traitement des données personnelles conformément aux hypothèses prévues par le RGPD. </li>
	<li class="cgu-li">le droit de s’opposer au traitement des données&nbsp;: les utilisateurs peuvent s’opposer à ce que ses données soient traitées conformément aux hypothèses prévues par le RGPD. &nbsp;</li>
	<li class="cgu-li">le droit à la portabilité&nbsp;: ils peuvent réclamer que le site web&nbsp;leur remette les données personnelles qui lui sont fournies pour les transmettre à un nouveau site web.</li>
</ul>

<p><em><u><strong>Evolution de la présente clause&nbsp;</strong></u></em></p>

<p>Le site web&nbsp;se réserve le droit d'apporter toute modification à la présente clause relative à la protection des données à caractère personnel à tout moment. Si une modification est apportée à la présente clause de protection des données à caractère personnel, le site web&nbsp;s'engage à publier la nouvelle version sur son site. Le site web&nbsp;informera également les utilisateurs de la modification par messagerie électronique, dans un délai minimum de 15&nbsp;jours avant la date d'effet. Si l'utilisateur n'est pas d'accord avec les termes de la nouvelle rédaction de la clause de protection des données à caractère personnel, il a la possibilité de supprimer son compte.</p>

<p>&nbsp;</p>

<p><strong>Article 8&nbsp; - Cookies</strong></p>

<p>Le site 0'Déchet&nbsp;peut collecter automatiquement des informations standards. Toutes les informations collectées indirectement ne seront utilisées que pour suivre le volume, le type et la configuration du trafic utilisant ce site, pour en développer la conception et l'agencement et à d'autres fins administratives et de planification et plus généralement pour améliorer le service que nous vous offrons. </p>

<p>&nbsp;</p>

<p><strong>Article 9&nbsp;- Loi applicable</strong></p>

<p>Les présentes conditions générales d'utilisation sont soumises à l'application du droit français. </p>

<p>Si les parties n'arrivent pas à résoudre un&nbsp;litige&nbsp;à l'amiable, le litige sera soumis à la compétence des tribunaux français.<br>
<span style="display: none;">&nbsp;</p>
