<div class="col-md-4 col-lg-3 col-xl-2 d-none d-md-block nav__category p-0 pt-4 left-nav">     
    <div>
    <nav class="nav" role="navigation">
        <ul class="nav__list pl-3">
        <li>
            <input id="group-1" type="checkbox" hidden />
            <label for="group-1"><span class="fa fa-angle-right"></span>Entretien de la maison</label>
            <ul class="group-list pl-3">
            <li>
                <input id="sub-group-11" type="checkbox" hidden />
                <label for="sub-group-11"><span class="fa fa-angle-right"></span>Buanderie</label>
                <ul class="sub-group-list">
                <li><a class="left-nav-type" href="#">Lessive</a></li>
                <li><a class="left-nav-type" href="#">Détachant</a></li>
                <li><a class="left-nav-type" href="#">Assouplissant</a></li>
                <li><a class="left-nav-type" href="#">Repassage</a></li>
                </ul>
            </li>
            <li>
                <input id="sub-group-12" type="checkbox" hidden />
                <label for="sub-group-12"><span class="fa fa-angle-right"></span>Cuisine et salle de bain</label>
                <ul class="sub-group-list">
                <li><a class="left-nav-type" href="#">Produits vaisselle</a></li>
                <li><a class="left-nav-type" href="#">Nettoyants de surface</a></li>
                <li><a class="left-nav-type" href="#">Nettoyants électroménagers</a></li>
                <li><a class="left-nav-type" href="#">Produits anticalcaire</a></li>
                <li><a class="left-nav-type" href="#">Nettoyant WC</a></li>
                <li><a class="left-nav-type" href="#">Miroirs et vitres</a></li>
                </ul>
            </li>
            <li>
                <input id="sub-group-13" type="checkbox" hidden />
                <label for="sub-group-13"><span class="fa fa-angle-right"></span>Garage et jardin</label>
                <ul class="sub-group-list">
                <li><a class="left-nav-type" href="#">Jardinage</a></li>
                <li><a class="left-nav-type" href="#">Entretien de la voiture</a></li>
                <li><a class="left-nav-type" href="#">Entretien de la terrasse</a></li>
                </ul>
            </li>
            </ul>
        </li>
        <li>
            <input id="group-2" type="checkbox" hidden />
            <label for="group-2"><span class="fa fa-angle-right"></span>Hygiène et beauté</label>
            <ul class="group-list">
            <li>
                <input id="sub-group-21" type="checkbox" hidden />
                <label for="sub-group-21"><span class="fa fa-angle-right"></span>Douche et bain</label>
                <ul class="sub-group-list">
                <li><a class="left-nav-type" href="#">Savons</a></li>
                <li><a class="left-nav-type" href="#">Gels douche</a></li>
                <li><a class="left-nav-type" href="#">Galets et sels de bain</a></li>
                </ul>
            </li>
            <li>
                <input id="sub-group-22" type="checkbox" hidden />
                <label for="sub-group-22"><span class="fa fa-angle-right"></span>Soin du visage</label>
                <ul class="sub-group-list">
                <li><a class="left-nav-type" href="#">Crèmes et sérums</a></li>
                <li><a class="left-nav-type" href="#">Masques et gommages</a></li>
                <li><a class="left-nav-type" href="#">Nettoyants et démaquillants</a></li>
                <li><a class="left-nav-type" href="#">Soin de la barbe</a></li>
                <li><a class="left-nav-type" href="#">Soin des lèvres</a></li>
                </ul>
            </li>
            <li>
                <input id="sub-group-23" type="checkbox" hidden />
                <label for="sub-group-23"><span class="fa fa-angle-right"></span>Soin des cheveux</label>
                <ul class="sub-group-list">
                <li><a class="left-nav-type" href="#">Shampoings</a></li>
                <li><a class="left-nav-type" href="#">Après-shampoings et masques</a></li>
                <li><a class="left-nav-type" href="#">Colorations</a></li>
                <li><a class="left-nav-type" href="#">Produits coiffants</a></li>
                </ul>
            </li>
            </ul>
        </li>
        </ul>
    </nav>
    </div>
</div>