{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
  <div class="row pt-3 px-3 main-title">
    <h2>Nous contacter</h2>
  </div>
  <div>
    {{ include('main/_form.html.twig') }}
  </div>
  <div class="row">
    <a class="form-link-back" href="{{ path('main_home') }}">Revenir à l'accueil</a>
  </div>
</main>
{% endblock %}