{% extends 'email/base.html.twig' %}

{% block body %}

<h1> Bonjour {{ username }} </h1>

<p> Merci {{ username }} pour l'ajout de votre recette {{ name }} et pour votre contribution. </p>


<p> Cordialement </p>

<p> L'équipe 0'déchet </p>


{% endblock %}