{% extends 'email/base.html.twig' %}

{% block body %}

<main>
    <p>Bonjour {{ username }},</p><br>

    <p>Nous vous confirmons la suppression de votre recette "{{ name }}".</p><br>

    <p>Cordialement,</p>

    <p><strong>L'équipe 0'déchet</strong></p>
</main>

{% endblock %}
