body {
    background-color: #b7cbad;
    color: black;
    text-align: center;
}
footer {
    background-color: #739377;
    text-align: center;
    padding: 1rem;
}
.navbar {
    background-color: #739377;
    text-align: center;
    padding: 1rem;
}