{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
  <div class="row pt-3 main-title">
    <h2>Ajouter une recette</h2>
  </div>

{{ include('recipe/_form.html.twig') }}

{% endblock %}