{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
  <div class="row pt-3 main-title">
    <h2>Modifier une recette</h2>
  </div>

{{ include('recipe/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}