{% extends 'base.html.twig' %}

{% block title %}Erreur 403 {{ parent() }}{% endblock %}

{% block body %}
<main class="container">
  <div class="row mt-3 justify-content-center">
    <p class="col-12 message-error">Oups, je n'ai pas les droits nécessaires...</p>
    <img class="img-fluid" src="{{ asset('assets/images/403.png') }}"  alt="erreur 403">
  </div>
</main>
{% endblock %}