<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body>
        {% block nav %}
        <header class="sticky-top">
        <nav class="navbar justify-content-between navbar-top">
            <a class="navbar-brand" href="{{ path('main_home') }}">
                <img src="{{ asset('assets/images/logo.png') }}" height="80px" alt="logo" loading="lazy" class="d-none d-sm-block">
                <img src="{{ asset('assets/images/logo.png') }}" height="60px" alt="logo" loading="lazy" class="d-sm-none">
            </a>
            <div class="d-flex justify-content-between align-items-center navbar-profil mr-md-4">
            </div>
        {% endblock %}