{% extends 'base.html.twig' %}

{% block body %}

<main class="container">

  <div class="row justify-content-center">
    <div class="col-12 pt-3 main-title">
    <h2>Inscription</h2>
    </div>
  {{ include('user/_form.html.twig') }}
  <div>

</main>
{% endblock %}
