{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
  <div class="row justify-content-center">
    <div class="col-12 pt-3 main-title">
      <h2>Mettre à jour son profil</h2>
    </div>
  {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
  <div>
  
    <form action="{{ path('user_delete', {'id': userForm.vars.data.id}) }}" method="post" class="ml-2">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn form-btn-delete">{{ button_label|default('Supprimer mon compte') }}</button>
    </form>
</main>

{% endblock %}
