<!DOCTYPE html>
<html lang="fr">
    {% apply inline_css(source('@css/email.css')) %}
    <body>
        <header class="sticky-top">
            <img src="{{ email.image('@images/logo.png') }}" height="80px" alt="logo" loading="lazy" class="d-none d-sm-block">
        </header>

        {% block body %}
        
        
        {% endblock %}

    {% endapply %}
    </body>
</html>
